<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Săn đuổi ước mơ</title>
        <meta name="description" content="Săn đuổi ước mơ, lịch sử, địa lí, chuyên sử địa">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <!-- font chữ-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
        <!-- css -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/style.css" />
        <link rel="stylesheet" href="/static/css/all.min.css" />
        <link rel="stylesheet" href="/static/css/owl.carousel.min.css" />
        <!-- js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>
        <script src="/static/js/all.min.js" > </script>
        <script src="/static/js/myscript.js" > </script>
        <script src="/static/js/owl.carousel.js" > </script>
        <script src="/static/js/báo-copy-tin-nhắn.js"></script>
        <!-- ICON / FAVICON -->
        <link rel="icon" type="image-icon" href="/static/images/logox.png">
        <!-- Xác minh tìm kiếm trên google -->
         <meta name="google-site-verification" content="JP05uWqBkp_J1n5tt9uXEu5ZuR1XWGYTofCwul1fGYI" />
    </head>

    <body>
        <!-- Bảng chọn -->
        <nav class="navbar navbar-expand-lg header-menu-dính">
            <div class="container-fluid">
                <!-- Toggle button mở Offcanvas -->
                <button class="navbar-toggler order-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Logo -->
                <a class="navbar-brand order-2" href="/">
                    <img src="/static/images/logox.png" width="50" height="50" alt="Logo"/>
                </a>

                <!-- Offcanvas menu cho toggle-->
                <div class="offcanvas offcanvas-start order-3 text-light" tabindex="-1" id="offcanvasNavbar">
                    <div class="offcanvas-header">
                        <h1 class="offcanvas-title">Menu</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link fs-5 maucuachumenu" aria-current="page" href="/trangchu">Trang chủ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fs-5 maucuachumenu" href="/gioithieu">Giới thiệu</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link fs-5 dropdown-toggle maucuachumenu" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Hoạt động
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item fs-7" href="#">Phong trào</a></li>
                                    <li><a class="dropdown-item fs-7" href="/monhoc">Môn học</a></li>
                                    <li><a class="dropdown-item fs-7" href="/minigames">Mini Games</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item fs-7" href="#">Chuyện chưa kể</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fs-5 maucuachumenu" href="/lienhe">Liên hệ</a>
                            </li>
                        </ul>
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                            <button class="btn btn-outline-success text-white maucuachumenu" type="submit">Search</button>
                        </form>
                    </div>
                </div>

                <!-- Nhóm USER bên phải -->
                <ul class="navbar-nav ms-auto order-4 mb-2 mb-lg-0">
                    <!-- Dropdown chỉ hiện trên desktop -->
                    <li class="nav-item dropdown d-none d-lg-block">
                        <a class="nav-link fs-5 dropdown-toggle text-white maucuachumenu" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        User
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item fs-7" href="#">Trang cá nhân</a></li>
                            <li><a class="dropdown-item fs-7" href="#">Lịch sử</a></li>
                            <li><a class="dropdown-item fs-7" href="#">Thoát</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item fs-7" href="#">Đăng nhập</a></li>
                            <li><a class="dropdown-item fs-7" href="#">Đăng kí</a></li>
                        </ul>
                    </li>

                    <!-- Offcanvas chỉ hiện trên mobile -->
                    <li class="nav-item d-lg-none">
                        <button class="btn nav-link fs-5 text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasUser" aria-controls="offcanvasUser">
                        User
                        </button>
                        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasUser">
                            <div class="offcanvas-header">
                                <h1 class="offcanvas-title">Tài khoản</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                <ul class="list-unstyled">
                                <li><a class="nav-link fs-6" href="#">Trang cá nhân</a></li>
                                <li><a class="nav-link fs-6" href="#">Lịch sử</a></li>
                                <li><a class="nav-link fs-6" href="#">Thoát</a></li>
                                <hr>
                                <li><a class="nav-link fs-6" href="#">Đăng nhập</a></li>
                                <li><a class="nav-link fs-6" href="#">Đăng kí</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        
        <!-- Nội dung cho file gốc nhớ để block trống trong tất cả file con-->
        {% block base %}
        <main class="container main-container">
            <h1 class="container-fluid text-center playfair-display">HyperLink</h1>

            <div class="container-fluid info-block blocklink">
                <div class="info-text text-center">
                    <p style="background-color: rgba(242, 255, 0, 1.0); display: inline-block; padding: 2px 2px; border-radius: 5px; margin-bottom:4px; color: #ff0000ff; font-weight: bold;">!click vào logo để di chuyển đến trang!</p>
                </div>
                <a class="container" href="/child1" target="_blank">
                    <img src="/static/images/logo-gg.png" class="d-block mx-auto" alt="Logo" height='150'>
                </a>
                <br>
                <div class="info-text text-center">
                    <p style="background-color: #fff; display: inline-block; padding: 2px 2px; border-radius: 5px; margin-bottom:4px;">Tên: Săn đuổi ước mơ</p> <br>
                    <p style="background-color: #fff; display: inline-block; padding: 2px 2px; border-radius: 5px; margin-bottom:4px;">Chủ (Admin): huyen thoai</p> <br>
                    <p style="background-color: #fff; display: inline-block; padding: 2px 2px; border-radius: 5px; margin-bottom:4px;">Mô tả: Đây là trang web của lớp 10SĐ nè</p>
                </div>
            </div>
            <br>

            <div class="container-fluid info-block blocklink">
                <div class="info-text text-center">
                    <p style="background-color: rgba(242, 255, 0, 1.0); display: inline-block; padding: 2px 2px; border-radius: 5px; margin-bottom:4px; color: #ff0000ff; font-weight: bold;">!click vào logo để di chuyển đến trang!</p>
                </div>
                <a class="container" href="https://www.facebook.com/share/1DLyYDdcW9/" target="_blank">
                    <img src="/static/images/logo-fb.png" class="d-block mx-auto" alt="Logo" height='150'>
                </a>
                <br>
                <div class="info-text text-center">
                    <p style="background-color: #fff; display: inline-block; padding: 2px 2px; border-radius: 5px; margin-bottom:4px;">Tên: Trăng sáng soi biên sử - Địa giữ dáng giang sơn</p> <br>
                    <p style="background-color: #fff; display: inline-block; padding: 2px 2px; border-radius: 5px; margin-bottom:4px;">Chủ (Admin): gia han</p> <br>
                    <p style="background-color: #fff; display: inline-block; padding: 2px 2px; border-radius: 5px; margin-bottom:4px;">Mô tả: Đây là trang Facebook của lớp 10SĐ nè</p>
                </div>
            </div>
            <br>

            <div class="container-fluid info-block blocklink">
                <div class="info-text text-center">
                    <p style="background-color: rgba(242, 255, 0, 1.0); display: inline-block; padding: 2px 2px; border-radius: 5px; margin-bottom:4px; color: #ff0000ff; font-weight: bold;">!click vào logo để di chuyển đến trang!</p>
                </div>
                <a class="container" href="https://www.tiktok.com/@sanduoiuocmo2528?_r=1&_t=ZS-92dvFJZqfnZ" target="_blank">
                    <img src="/static/images/logo-tiktok.png" class="d-block mx-auto" alt="Logo" height='150'>
                </a>
                <br>
                <div class="info-text text-center">
                    <p style="background-color: #fff; display: inline-block; padding: 2px 2px; border-radius: 5px; margin-bottom:4px;">Tên: Săn đuổi ước mơ</p> <br>
                    <p style="background-color: #fff; display: inline-block; padding: 2px 2px; border-radius: 5px; margin-bottom:4px;">Chủ (Admin): bao tran</p> <br>
                    <p style="background-color: #fff; display: inline-block; padding: 2px 2px; border-radius: 5px; margin-bottom:4px;">Mô tả: Đây là trang Tiktok của lớp 10SĐ nè</p>
                </div>
            </div>

        </main>
        {% endblock base %}
        
        <!-- Nội dung cho file con -->
        <main class="container">
            {% block slider %}{% endblock slider %}
            {% block main %}{% endblock main %}
            {% block info %}{% endblock info %}
            {% block more %}{% endblock more %}
            {% block minigames %}{% endblock minigames%}
            {% block monhoc %}{% endblock monhoc %}
            {% block sinhhoc %}{% endblock sinhhoc %}
        </main>

        <!-- Footer      <footer class="container-fluid bg-danger text-light text-center p-1 mt-3">
            <strong>copyright 2025</strong>
        </footer> -->
  
        <footer class="container-fluid footer-bg text-light text-center p-1 mt-3">
            <div class="container flex flex-wrap px-0 py-4 text-textOnSpecialPrimary pc:px-5 pc:py-10 undefined">
                <div class="grid pc:grid-cols-3 pc:gap-3 FooterMain_footerMainGroup__fZ2N5">
                    <div class="border-b border-strokeOnSpecialDefault pc:border-0 pc:px-0 FooterOne_footerOne__2Tdk7">
                        <p class="px-4 b2-semibold pc:px-0 pc:b1-semibold FooterOne_footerTitle__4Dwx9 pb-1.5">KẾT NỐI VỚI CHUYÊN SỬ - ĐỊA 25-28</p>
                        <ul class="flex px-4 pb-2.5 pc:px-0">
                            <li class="flex">
                                <a href="https://www.facebook.com/share/1DLyYDdcW9/" target="_blank" class="mr-3" rel="nofollow">
                                    <img alt="https://www.facebook.com/share/1DLyYDdcW9/" loading="lazy" width="28" height="28" decoding="async" data-nimg="1" srcset="https://cdn2.fptshop.com.vn/svg/facebook_icon_8543190720.svg 1x, https://cdn2.fptshop.com.vn/svg/facebook_icon_8543190720.svg 2x" src="https://cdn2.fptshop.com.vn/svg/facebook_icon_8543190720.svg" style="color: transparent;">
                                </a>
                                <a href="https://zalo.me/g/irxsrx782" target="_blank" class="mr-3" rel="nofollow">
                                    <img alt="https://zalo.me/g/irxsrx782" loading="lazy" width="28" height="28" decoding="async" data-nimg="1" srcset="https://cdn2.fptshop.com.vn/svg/zalo_icon_8cbef61812.svg 1x, https://cdn2.fptshop.com.vn/svg/zalo_icon_8cbef61812.svg 2x" src="https://cdn2.fptshop.com.vn/svg/zalo_icon_8cbef61812.svg" style="color: transparent;">
                                </a>
                                <a href="https://youtube.com/@thoainguyen7398?si=4kipon0N01DCpfN7" target="_blank" class="mr-3" rel="nofollow">
                                    <img alt="https://youtube.com/@thoainguyen7398?si=4kipon0N01DCpfN7" loading="lazy" width="28" height="28" decoding="async" data-nimg="1" srcset="https://cdn2.fptshop.com.vn/svg/youtube_icon_b492d61ba5.svg 1x, https://cdn2.fptshop.com.vn/svg/youtube_icon_b492d61ba5.svg 2x" src="https://cdn2.fptshop.com.vn/svg/youtube_icon_b492d61ba5.svg" style="color: transparent;">
                                </a>
                                <a href="https://www.tiktok.com/@sanduoiuocmo2528?_r=1&_t=ZS-92dvFJZqfnZ" target="_blank" class="mr-3" rel="nofollow">
                                    <img alt="https://www.tiktok.com/@sanduoiuocmo2528?_r=1&_t=ZS-92dvFJZqfnZ" loading="lazy" width="28" height="28" decoding="async" data-nimg="1" srcset="https://cdn2.fptshop.com.vn/svg/tiktok_icon_faabbeeb61.svg 1x, https://cdn2.fptshop.com.vn/svg/tiktok_icon_faabbeeb61.svg 2x" src="https://cdn2.fptshop.com.vn/svg/tiktok_icon_faabbeeb61.svg" style="color: transparent;">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="FooterMain_footerTwo__UF_YK border-solid border-b-strokeOnSpecialDefault mb:border-b mb:p-4">
                <div class="Accordion_accordion__C60Ok">
                    <div class="Accordion_accordionHeader__QWzOm hover:cursor-pointer pc:pointer-events-none pc:hover:cursor-auto">
                        <p class="mb:b2-semibold pc:pb-1.5 pc:b1-semibold FooterMain_footerTitle__lx2Oo">VỀ CHÚNG TÔI</p>
                    </div>
                    <div class="Accordion_collapse__FyTNC  " style="height: 0px;">
                        <div class="rc-accordion-body">
                            <ul class="mb:mt-1.5">
                                <li>
                                    <a class="text-white" href="/child2">Giới thiệu về trang</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="py-4 pc:py-6 FooterBottom_copyright__7IzKp">
                <div class="container pc:text-center">
                    <p>
                        <span style="background-color:rgba(0,0,0,0);color:rgba(255, 255, 255, 1);">© 2025-2026</span>
                    </p>
                    <ul>
                        <li>
                            <span>
                                Điện thoại: 
                                <a :hover href="javascript:void(0)" class="copy-btn text-white" data-copy="0945799112" title="Click để copy">
                                    0945799112
                                </a>
                            </span>
                            <div id="copy-toast" class="copy-toast">Đã lưu vào bộ nhớ tạm!</div>
                        </li>
                        <li>
                            <span>
                                Email: 
                                <a :hover href="javascript:void(0)" class="copy-btn text-white" data-copy="0945799112thoai@gmail.com" title="Click để copy">
                                    0945799112thoai@gmail.com
                                </a>
                            </span>
                            <div id="copy-toast" class="copy-toast">Đã lưu vào bộ nhớ tạm!</div>
                        </li>
                        <li>
                            <span style="background-color:rgba(0,0,0,0);color:rgba(255, 255, 255, 1);">Chịu trách nhiệm nội dung: Đặng Nguyễn Huyền Thoại</span>
                        </li>
                        <li>
                            <span style="background-color:rgba(0,0,0,0);color:rgba(255, 255, 255, 1);">Áo đỏ Chuyên Sử-Địa niên khóa 25-28, trường THPT chuyên Thoại Ngọc Hầu, phường Long Xuyên, tỉnh An Giang, Việt Nam</span>
                        </li>
                    </ul>
                </div>
            </div>
            <script src="/static/js/báo-copy-tin-nhắn.js"></script>
        </footer>

    </body>

</html>