{% extends "base.html" %}

{% block slider %}
<div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner" data-bs-ride="carousel" >
        
        <div class="carousel-item active" data-bs-interval="5000">
            <img src="/static/images/anh1.jpg" class="d-block mx-auto" alt="..." height='300'>
            <div class="carousel-caption d-none d-md-block">
                <h5 class="bg-light d-inline-block px-2">10 SĐ</h5>
                <p class="bg-light d-inline-block px-2">Ảnh chụp đầu năm dưới sân</p>
            </div>
        </div>
        
        <div class="carousel-item" data-bs-interval="5000">
            <img src="/static/images/anh2.jpg" class="d-block mx-auto" alt="..." height='300'>
            <div class="carousel-caption d-none d-md-block">
                <h5 class="bg-light d-inline-block px-2">10 SĐ</h5>
                <p class="bg-light d-inline-block px-2">Ảnh chụp đầu năm tại lớp</p>
            </div>
        </div>
        
        <div class="carousel-item" data-bs-interval="5000">
            <img src="/static/images/anh3.jpg" class="d-block mx-auto" alt="..." height='300'>
            <div class="carousel-caption d-none d-md-block">
                <h5 class="bg-light d-inline-block px-2">10 SĐ</h5>
                <p class="bg-light d-inline-block px-2">Ảnh chụp đầu năm tại hồ cá</p>
            </div>
        </div>
        
        <div class="carousel-item" data-bs-interval="5000">
            <img src="/static/images/anh4.jpg" class="d-block mx-auto" alt="..." height='300'>
            <div class="carousel-caption d-none d-md-block">
                <h5 class="bg-light d-inline-block px-2">10 SĐ</h5>
                <p class="bg-light d-inline-block px-2">Đi thực địa Cà Mau</p>
            </div>
        </div>

    </div>
    
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

</div>
{% endblock slider %}

{% block main %}
<main>
    <h1>"Trăng Sáng Soi Biên Sử - Địa Vững Dáng Giang Sơn" nơi quy tụ những tâm hồn yêu Sử – say Địa.</h2>
    <section>
        <h2>❤️‍🔥Từ giấc mơ chuyên Sử – Địa tới hiện thực rực rỡ tụi</h2>
        <p>mình đã cho ra đời trang page này như nét đặc sắc tự hào của tập thể Sử Địa đó.</p>
    </section>

    <section>
        <h2>🌕"Trăng Sáng Soi Biên Sử"</h2>
        <p>lấy vầng trăng làm biểu tượng vì trăng không tự phát sáng mà mượn ánh mặt trời rực rỡ, tựa tinh thần đoàn kết, sự khiêm nhường – Đó chính là mối dây liên kết không thể thiếu để kiến tạo ánh trăng vĩnh cửu soi đường cho lịch sử dân tộc, gặt hái vinh quang, làm nên tình bạn son sắt.</p>
    </section>

    <section>
        <h2>🌏"Địa Vững Dáng Giang Sơn"</h2>
        <p>Chính là hình hài của một quốc gia độc lập, tự cường. "Địa" có vững vàng thì "giang sơn" mới có thể trường tồn. Kiến thức vững vàng chính là nền móng để mỗi cá nhân vươn xa và kiến tạo nên tương lai phồn vinh, tự hào. "Bởi học Địa không chỉ để biết nơi mình đứng, mà để hiểu nơi mình thuộc về – và tương lai mình bước tới."</p>
    </section>

    <section>
        <p>⋆౨ৎ˚⟡˖ ࣪Mang trên mình một cái tên đầy thi vị và hào khí – “Trăng Sáng Soi Biên Sử – Địa Vững Dáng Giang Sơn” fanpage sẽ trở thành nhật ký tuổi trẻ ~ Nơi ánh trăng tri thức soi sáng từng bước chân chúng ta trưởng thành˚⋆𐙚｡ 𖦹.ᡣ𐭩˚</p>
    </section>
</main>

<main>
    <h1>CUỘC CÁCH MẠNG CÔNG NGHIỆP LẦN THỨ NHẤT</h1>

    <h2>A.Bối cảnh lịch sử</h2>
    <p>- Cuộc cách mạng công nghiệp lần thứ nhất diễn ra trong khoảng thời gian: những năm 60 cuối thế kỉ XVIII đến những năm 40 đầu thế kỉ XIX, bắt đầu từ nước Anh, sau đó nhanh chóng lan rộng ra nhiều nước Âu - Mĩ…</p>
    <p>- Cuộc cách mạng công nghiệp lần thứ nhất diễn ra trong bối cảnh:</p>
    <p>+ Tác động từ các cuộc phát kiến địa lí (thế kỉ XV - XVI) đã thúc đẩy kinh tế công - thương nghiệp phát triển, thị trường mở rộng</p>
    <p>+ Giai cấp tư sản lên cầm quyền sau các cuộc cách mạng tư sản</p>
    <p>+ Nông dân mất đất, trở thành lao động tự do, để có thể nuôi sống bản thân và gia đình, họ buộc phải tới làm thuê tại các nhà máy, công xưởng…</p>
    <p>+ Những cải tiến, tiến bộ về kĩ thuật trong các công trường thủ công.</p>

    <h2>B. Những thành tựu cơ bản</h2>
    <h3>1. Dệt</h3>
    <p>- Năm 1733, Giôn Cay phát minh ra "thoi bay”, người thợ dệt không phải lao thoi bằng tay, năng suất lao động tăng gấp hai lần.</p>
    <p>- Năm 1764, Giêm Ha-gri-vơ chế tạo ra máy kéo sợi Gien-ni.</p>
    <p>- Năm 1779, S. Crôm-tơn cải tiến máy kéo sợi để kéo được sợi nhỏ, làm ra vải vừa đẹp vừa bền.</p>
    <p>- Năm 1785, Ét-mơn Các-rai cho ra đời máy dệt vải chạy bằng sức nước, làm tăng năng suất dệt lên tới 40 lần so với dệt tay.</p>
    <p>- Năm 1782, Giêm Oát chế tạo thành công máy hơi nước, góp phần tăng tốc độ sản xuất và năng suất lao động; khởi đầu cho quá trình công nghiệp hoá trên thế giới từ cuối thế kỉ XIX, đầu thế kỉ XX.</p>

    <h3>2. Luyện kim</h3>
    <p>- Năm 1735, phát minh về phương pháp nấu than cốc góp phần quan trọng cho sự phát triển của ngành luyện kim.</p>
    <p>- Năm 1784, H. Cót tìm ra cách luyện sắt “puddling" thay thế cho quá trình tinh luyện trước đây, cho phép sản xuất sắt rèn trên quy mô lớn, chất lượng cao hơn.</p>
    <p>- Năm 1885, H. Bét-xơ-me phát minh ra lò cao có khả năng luyện gang lỏng thành thép.</p>

    <h3>3. Giao thông vận tải</h3>
    <p>- Năm 1807, R. Phơn-tơn chế ra tàu thuỷ chạy bằng hơi nước thay thế cho những mái chèo hay cánh buồm trước đây.</p>
    <p>- Năm 1814, chiếc đầu máy xe lửa đầu tiên chạy bằng hơi nước ra đời góp phần thúc đẩy ngành giao thông vận tải phát triển.</p>
    <p>- Đến thế kỉ XIX, hệ thống đường sắt ở Tây Âu và Bắc Mỹ phát triển mạnh. Giữa thế kỉ XIX, nước Anh đã có khoảng 10 000 km đường sắt.</p>

    <h2>C. Ý nghĩa</h2>
    <h3>1. Kinh tế</h3>
    <p>- Thúc đẩy quá trình thị trường hóa nền kinh tế thế giới và xã hội hóa hoạt động sản xuất, góp phần đáp ứng nhu cầu ngày càng cao của con người</p>
    <p>- Nền sản xuất lớn bằng máy móc đã giải phóng sức lao động, làm thay đổi cách thức lao động của con người</p>

    <h3>2. Xã hội</h3>
    <p>- Góp phần thúc đẩy quá trình đô thị hóa dẫn đến sự ra đời của nhiều đô thị quy mô lớn</p>
    <p>- Dân số tăng nhanh, cơ cấu xã hội thay đổi, hình thành hai giai cấp cơ bản là tư sản và vô sản. Sự bóc lột của giai cấp tư sản dẫn đến cuộc đấu tranh của giai cấp vô sản, tạo ra những tiền đề giữa cách mạng xã hội chủ nghĩa</p>

    <h3>3. Văn hóa</h3>
    <p>- Thúc đẩy quan hệ quốc tế, giao lưu và kết nối văn hóa toàn cầu</p>
    <p>- Đời sống vật chất và tinh thần của người dân ở các nước tư bản được nâng cao thể hiện qua đời sống văn hóa phong phú, đa dạng, hiện đại với sự xuất hiện của điện ảnh, điện thoại,…</p>
    <p>- Hình thành lối sống, tác phong công nghiệp gắn với quá trình công nghiệp hóa</p>
</main>
{% endblock main%}
