{% extends "base.html" %}

<!-- Xóa đi nội dung trong block của file gốc -->
{% block base %}{% endblock base %}

<!-- Nội dung block mà file con hiển thị -->
{% block slider %}
<div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner" data-bs-ride="carousel" >
        
        <div class="carousel-item active" data-bs-interval="5000">
            <img src="/static/images/anh1.jpg" class="d-block mx-auto" alt="..." height='200'>
            <div class="carousel-caption d-none d-md-block">
                <p></p>
            </div>
        </div>
        
        <div class="carousel-item" data-bs-interval="5000">
            <img src="/static/images/anh2.jpg" class="d-block mx-auto" alt="..." height='200'>
            <div class="carousel-caption d-none d-md-block">
                <p></p>
            </div>
        </div>
        
        <div class="carousel-item" data-bs-interval="5000">
            <img src="/static/images/anh3.jpg" class="d-block mx-auto" alt="..." height='200'>
            <div class="carousel-caption d-none d-md-block">
                <p></p>
            </div>
        </div>
        
        <div class="carousel-item" data-bs-interval="5000">
            <img src="/static/images/anh4.jpg" class="d-block mx-auto" alt="..." height='200'>
            <div class="carousel-caption d-none d-md-block">
                <p></p>
            </div>
        </div>

    </div>
    
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

</div>
{% endblock slider %}

{% block main %}
<main>
    <h1 class="playfair-display">"Săn đuổi ước mơ thôi nào</h1>
    <h1 class="playfair-display">"Trăng Sáng Soi Biên Sử - Địa Vững Dáng Giang Sơn" <br>nơi quy tụ những tâm hồn yêu Sử – say Địa.</h1>
    <section>
        <h2 class="content-box">❤️‍🔥Từ giấc mơ chuyên Sử – Địa tới hiện thực rực rỡ</h2>
        <p>Tụi mình đã cho ra đời trang page này như nét đặc sắc tự hào của tập thể Sử Địa đó.</p>
    </section>

    <section>
        <h2 class="content-box">🌕"Trăng Sáng Soi Biên Sử"</h2>
        <p>Lấy vầng trăng làm biểu tượng vì trăng không tự phát sáng mà mượn ánh mặt trời rực rỡ, tựa tinh thần đoàn kết, sự khiêm nhường – Đó chính là mối dây liên kết không thể thiếu để kiến tạo ánh trăng vĩnh cửu soi đường cho lịch sử dân tộc, gặt hái vinh quang, làm nên tình bạn son sắt.</p>
    </section>

    <section>
        <h2 class="content-box">🌏"Địa Vững Dáng Giang Sơn"</h2>
        <p>Chính là hình hài của một quốc gia độc lập, tự cường. "Địa" có vững vàng thì "giang sơn" mới có thể trường tồn. Kiến thức vững vàng chính là nền móng để mỗi cá nhân vươn xa và kiến tạo nên tương lai phồn vinh, tự hào. "Bởi học Địa không chỉ để biết nơi mình đứng, mà để hiểu nơi mình thuộc về – và tương lai mình bước tới."</p>
    </section>

    <section>
        <p>⋆౨ৎ˚⟡˖ ࣪Mang trên mình một cái tên đầy thi vị và hào khí – “Trăng Sáng Soi Biên Sử – Địa Vững Dáng Giang Sơn” fanpage sẽ trở thành nhật ký tuổi trẻ ~ Nơi ánh trăng tri thức soi sáng từng bước chân chúng ta trưởng thành˚⋆𐙚｡ 𖦹.ᡣ𐭩˚</p>
    </section>
</main>

{% endblock main%}
