{% extends "base.html" %}

<!-- Xóa đi nội dung trong block của file gốc -->
{% block base %}{% endblock base %}

<!-- Nội dung block mà file con hiển thị -->
{% block info %}
    <h1>Giới thiệu chung</h1>
        <p>Lên ý tưởng:     huyen thoai</p>
        <p>Thiết kế:        huyen thoai</p>
        <p>Chỉnh bố cục:    huyen thoai</p>
        <p>Sửa lỗi:         huyen thoai</p>
        <p>Deploy dự án:    huyen thoai</p>
        <p>Maketing:        huyen thoai</p>
    <h1>Thông tin ngoài</h1>
        <p>Dự án được thiết kế và lấy những nguồn tài nguyên từ internet, trợ giúp của AI (chat GPT, Gemini, Copilot, ...)</p>
        <a href="https://coolors.co/palette/fbf8cc-fde4cf-ffcfd2-f1c0e8-cfbaf0-a3c4f3-90dbf4-8eecf5-98f5e1-b9fbc0" target="_blank" title:"bảng màu dùng thiết kế web" a:hover a:link a:active>
            <p>bảng màu thiết kế: click vào đây</p>
        </a>
        <p>ngoài ra cũng xin cảm ơn những sự hỗ trợ từ những "người" thầm lặng khác</p>
    <h1>Tóm lại</h1>
        <p>huyen thoai: vai trò full stack</p>
        <p>cùng với đó là sự hỗ trợ từ bên ngoài</p>
{% endblock info%}