{% extends "base.html" %}

<!-- Xóa đi nội dung trong block của file gốc -->
{% block base %}{% endblock base %}

<!-- Nội dung block mà file con hiển thị -->
{% block info %}
    <h1 class="playfair-display">Giới thiệu chung</h1>
        <p>Lên ý tưởng:     huyen thoai</p>
        <p>Thiết kế:        huyen thoai</p>
        <p>Chỉnh bố cục:    huyen thoai</p>
        <p>Sửa lỗi:         huyen thoai</p>
        <p>Deploy dự án:    huyen thoai</p>
        <p>Maketing:        huyen thoai</p>
    <h1 class="playfair-display">Thông tin ngoài</h1>
        <p>Dự án được thiết kế và lấy những nguồn tài nguyên từ internet, trợ giúp của AI (chat GPT, Gemini, Copilot, ...)</p>
        <a style="color: rgb(47, 54, 64)" href="#" target="_blank" title:"bảng màu dùng thiết kế web" a:hover a:link a:active>
            <p>bảng màu thiết kế: click vào đây</p>
        </a>
        <p>ngoài ra cũng xin cảm ơn những sự hỗ trợ từ những "người" thầm lặng khác</p>
    <h1 class="playfair-display">Tóm lại</h1>
        <p>huyen thoai: vai trò full stack</p>
        <p>cùng với đó là sự hỗ trợ từ bên ngoài</p>
{% endblock info%}