{% extends "base.html" %}

<!-- Xóa đi nội dung trong block của file gốc -->
{% block base %}{% endblock base %}

<!-- Nội dung block mà file con hiển thị -->
{% block monhoc %}
<h1 class="container-fluid text-left playfair-display">Danh sách môn học</h1>
    
<ul class="tree">
    <li>
        <span class="toggle">SINH HỌC</span>
        <ul>
            <li>
                <span class="toggle">Kiểm tra cuối kì I</span>
                <ul>
                    <li><a href="/sinhhoc">Trả lời câu hỏi tự luận</a></li>
                </ul>
            </li>
            <li>
                <span class="toggle">Thông tin đang được cập nhật</span>
                <ul>
                    <li><a href="#">Đang được cập nhật . . .</a></li>
                </ul>
            </li>
        </ul>
    </li>

    <li>
        <span class="toggle">LỊCH SỬ</span>
        <ul>
            <li>
                <span class="toggle">Kiểm tra cuối kì I</span>
                <ul>
                    <li><a href="/lichsu">Trả lời câu hỏi tự luận</a></li>
                </ul>
            </li>
            <li>
                <span class="toggle">Thông tin đang được cập nhật</span>
                <ul>
                    <li><a href="#">Đang được cập nhật . . .</a></li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
<h1></h1>
<p style="text-align: right;">Liên hệ hỗ trợ - email:<br>0945799112thoai@gmail.com</p>

{% endblock monhoc %}