{% extends "base.html" %}

<!-- Xóa đi nội dung trong block của file gốc -->
{% block base %}{% endblock base %}

<!-- Nội dung block mà file con hiển thị -->
{% block profile %}
<div class="profile-card">
    <h1 class="container-fluid text-left playfair-display">Thông tin tài khoản</h1>

    <p><strong>Họ và tên:</strong> {{ request.session.full_name }}</p>
    <p><strong>Tên đăng nhập:</strong> {{ request.session.username }}</p>
    <p><strong>Email quản trị:</strong> {{ request.session.email }}</p>
    <br>
</div>

<h1></h1>
<a href="/"> <p style="text-align: right;"> ← Quay lại trang chủ </p> </a>
{% endblock profile %}