{% extends "base.html" %}

<!-- Xóa đi nội dung trong block của file gốc -->
{% block base %}{% endblock base %}

<!-- Nội dung block mà file con hiển thị -->
{% block sinhhoc %}
    <h1 class="container-fluid text-left playfair-display">KTR CUỐI KÌ I</h1>
        <h2>Câu hỏi tự luận</h2>
        <hr>
        <h3>CÂU 1: Hãy cho biết tên của 2 bào quan trong tế bào nhân thực có cấu trúc màng kép . Cho biết chức năng của 2 bào quang này.</h3>
            <p>- Trong tế bào nhân thực, hai bào quan quan trọng có cấu trúc màng kép là Ty thể và Lục lạp: <br>
                +Ty thể (Mitochondrion): ​Chức năng: Là "trạm năng lượng" của tế bào. Nơi diễn ra quá trình hô hấp tế bào để chuyển hóa năng lượng trong các hợp chất hữu cơ thành năng lượng ATP cung cấp cho mọi hoạt động sống của tế bào. <br>
                +Lục lạp (Chloroplast)(Chỉ có ở tế bào thực vật và tảo): ​Chức năng: Thực hiện quá trình quang hợp, chuyển hóa năng lượng ánh sáng mặt trời thành năng lượng hóa học trong các hợp chất hữu cơ (đường).
            </p>
        <hr>
        <h3>CÂU 2: Hãy trả lời ngắn gọn câu hỏi sau</h3>
        <h3>2a/ Liên kết cao năng có mặt ở đâu trong cấu trúc phân tử ATP?</h3>
        <h3>2b/ Nếu trong tế bào chỉ xảy ra quá trình tổng hợp ATP mà không xảy ra phân giải ATP, điều gì sẽ xảy ra? Giải thích.</h3>
            <p>a/ Vị trí liên kết cao năng trong ATP:<br>
            Trong cấu trúc phân tử ATP (Adenosine Triphosphate), các liên kết cao năng nằm ở giữa hai nhóm phosphate cuối cùng. Các liên kết này rất dễ bị phá vỡ để giải phóng năng lượng lớn cho tế bào sử dụng.<br>
            ​b/ Nếu tế bào chỉ tổng hợp mà không phân giải ATP: ​Kết quả: Tế bào sẽ nhanh chóng cạn kiệt năng lượng và chết.<br>
            ​Giải thích: ATP được coi là "đồng tiền năng lượng". Mọi hoạt động sống (như vận chuyển chất, tổng hợp chất, co cơ...) đều cần năng lượng từ việc bẻ gãy các liên kết cao năng trong ATP (quá trình phân giải). Nếu không phân giải, năng lượng bị "khóa" trong phân tử ATP và tế bào không thể sử dụng được để duy trì sự sống.
            </p>
        <hr>
        <h3>CÂU 3:</h3>
        <h3>a. Kích thước nhỏ đã đem lại cho tế bào nhân sơ những ưu thế gì?</h3>
        <h3>b. Ở những con bỏ sau khi chữa bệnh bằng penicilin mà vắt sữa ngay thì trong sữa còn tồn dư kháng sinh. Loại sữa này có thể dùng làm sữa chua được không? Vì sao?</h3>
            <p>a/ Ưu thế của kích thước nhỏ ở tế bào nhân sơ: Kích thước nhỏ giúp tế bào nhân sơ có tỉ lệ S/V (diện tích bề mặt trên thể tích) lớn. Điều này mang lại các ưu thế:<br>
                ​- Tốc độ trao đổi chất với môi trường diễn ra nhanh chóng.<br>
                ​- Sự khuếch tán các chất bên trong tế bào diễn ra nhanh.<br>
                ​- Tế bào sinh trưởng, phát triển và sinh sản (phân chia) rất nhanh.<br>
                ​b/ Không thể dùng loại sữa này để làm sữa chua.<br>
                ​Vì làm sữa chua thực chất là quá trình lên men lactic nhờ các vi khuẩn có lợi (như Lactobacillus). Penicillin là một loại kháng sinh có tác dụng tiêu diệt hoặc ức chế sự phát triển của vi khuẩn. Nếu sữa còn tồn dư kháng sinh, nó sẽ tiêu diệt các vi khuẩn lên men, dẫn đến quá trình lên men không thể diễn ra và sữa không thể đông đặc thành sữa
            </p>
        <hr>
        <h3>CÂU 4:</h3>
        <h3>a.Cho biết vai trò vùng nhân của tế bào nhân sơ?</h3>
        <h3>b. Dựa vào tính kháng nguyên ở bề mặt tế bào, hãy cho biết bệnh do vi khuẩn Gram dương hay vi khuẩn Gram âm gây ra sẽ nguy hiểm hơn. Tại sao? </h3>
            <p>a.Vùng nhân của tế bào nhân sơ chứa phân tử DNA mang thông tin di truyền quy định đặc điểm của tế bào.<br>
                b. Bệnh do vi khuẩn Gram âm nguy hiểm hơn.<br>
                - Nguyên nhân là do thành tế bào của vi khuẩn Gram âm còn có lớp màng ngoài chứa kháng nguyên có bản chất là lipopolysaccharide. Đây là các độc tố do vi khuẩn sản sinh, gây ra một số tác hại cho vật chủ như sốt, tiêu chảy,… Ngoài ra, Lớp màng này có chức năng bảo vệ, ngăn chặn sự xâm nhập của thuốc kháng sinh, các chất độc tố là tổn thương tế bào vi khuẩn. Từ đó giúp vi khuẩn lẩn trốn được các loại thuốc điều trị bệnh.
            </p>
        <hr>
        <h3>CÂU 5:</h3>
        <h3>a. Phẩy khuẩn tả (Vibrio cholerae) – một loại vi khuẩn Gram âm, gây bệnh ở người bằng cách khu trú ở ruột non. Triệu chứng thường gặp là nôn, tiêu chảy nhiều lần, trường hợp nghiêm trọng, bệnh nhân cảm thấy rét lạnh, đau cơ bụng, mạch yếu, trụy tim mạch, tốc độ tiến triển bệnh rất nhanh. Nguyên nhân tốc độ tiến triển bệnh rất nhanh là do đâu?</h3>
        <h3>b. Vì sao tất cả sinh vật có kích thước lớn luôn có cơ thể được cấu tạo từ nhiều tế bào chứ không phải từ một tế bào duy nhất?</h3>
            <p>a.Tốc độ tiến triển bệnh tả cực nhanh là do vi khuẩn Vibrio cholerae sản sinh độc tố tả (cholera toxin), hoạt động như một siêu kháng nguyên, khiến ruột non tiết ra ồ ạt lượng lớn nước và điện giải, gây mất nước và rối loạn điện giải trầm trọng chỉ trong thời gian ngắn, dẫn đến trụy tim mạch và suy kiệt nhanh chóng nếu không được bù dịch kịp thời.<br>
                b. Khi sinh vật có kích thước cơ thể lớn nhưng được cấu tạo từ nhiều tế bào nhỏ thì tỉ lệ S/V lớn hơn so với cơ thể cấu tạo từ một tế bào duy nhất, nhờ đó tốc độ trao đổi chất giữa tế bào và môi trường sẽ nhanh hơn, đảm bảo hoạt động sống trong cơ thể được diễn ra bình thường
            </p>
        <hr>
        <h3>CÂU 6</h3>
            <p> 1. Khả năng bệnh nhân này nhiễm ít nhất 2 loại vi khuẩn. Vì: Mỗi loại kháng sinh thường sẽ có cơ chế tác động khác nhau đến từng loại vi khuẩn mà theo như bảng trên đã sử dụng ba loại kháng sinh nhưng chỉ có 2 loại B và C có tác dụng.<br>
                2. Kháng sinh C có hiệu quả tương đối thấp vì: Kháng sinh C có vai trò ức chế hoạt động tổng hợp protein của riboxom nên để tiếp xúc với ribosome thì kháng sinh C phải được vận chuyển vào bên trong tế bào. Do màng sinh chất có tính chất thấm chọn lọc, mặt khác một số vi khuẩn còn có lớp màng ngoài ngăn cản sự xâm nhập của kháng sinh dẫn đến tỉ lệ kháng sinh được vận chuyển vào tế bào thấp kéo theo đó hiệu quả tương đối thấp.<br>
                3. Khi kết hợp 2 loại kháng sinh B và C lại cho hiệu quả cao hơn là do: Không có thuốc nào là đa năng có thể tiêu diệt được toàn bộ các loại vi khuẩn gây bệnh. Mỗi loại sẽ có một cơ chế tác dụng, dược lực nhất định với một số loại mầm bệnh. Trong trường hợp này, việc phối hợp 2 loại kháng sinh sẽ hỗ trợ tác động cho nhau nên sẽ cho hiệu quả tốt hơn dùng đơn lẻ.
            </p>
        <hr>
        <h3>CÂU 7</h3>
            <p>a. Sự khác nhau giữa thành tế bào của vi khuẩn Gram âm và Gram dương:<br>
                - Thành tế bào của vi khuẩn Gram âm có lớp màng ngoài chứa kháng nguyên có bản chất là lipopolysaccharide, lớp peptidoglycan mỏng.<br>
                - Thành tế bào của vi khuẩn Gram dương không có lớp màng ngoài, lớp peptidoglycan dày.<br>
                b. Tên gọi “tế bào nhân sơ” xuất phát từ đặc điểm là vùng nhân của tế bào nhân sơ không được bao bọc bởi màng nhân mà khu trú ở vùng tế bào chất hay nói cách khác nhân chưa có cấu trúc hoàn chỉnh.
            </p>
        <hr>
        <h3>CÂU 8: Nếu một người uống thuốc pelicillin với một lượng lớn thì chỉ vài ngày, trong các tế bào gan có một loại bào quan tăng gấp đôi, số lượng bào quan này chỉ trở lại bình thường trong vòng 5 ngày sau khi thôi dùng thuốc.</h3>
        <h3>a. Tên gọi của bào quan có sự thay đổi đó?</h3>
        <h3>b. Nêu cấu tạo và chức năng của bào quan được nêu trên?</h3>
            <p>a.Tên gọi của bào quan có sự thay đổi đó là : Lưới nội chất trơn<br>
                b. Cấu tạo: Mạng lưới các ống và túi màng dẹp, liên kết với nhau, không có hạt ribosome đính trên bề mặt, cấu tạo bởi màng sinh chất và các thành phần lipid, protein tương tự màng sinh chất.<br>
                Chức năng: lưới nội chất trơn có nhiệm vụ đóng gói và chuyển các chất thải, độc hai ra khỏi tế bào và cơ thể.
            </p>
        <hr>
        <h3>CÂU 9:</h3>
        <h3>a) Cho biết các sản phẩm của bộ máy Golgi có thể được vận chuyển đến đâu. Cho ví dụ.</h3>
        <h3>b) Mô tả quá trình sản xuất và vận chuyển protein tiết ra ngoài tế bào.</h3>
            <p>a) Các sản phẩm của bộ máy Golgi có thể được vận chuyển đến nhiều vị trí khác nhau trong tế bào hoặc tiết ra ngoài tế bào thông qua các túi tiết hay lysosome.<br>
                - Ví dụ: Bộ máy Golgi có chức năng biến đổi phospholipid rồi được vận chuyển đến màng sinh chất để tham gia vào cấu tạo nên màng sinh chất.<br>
                b) Mô tả quá trình sản xuất và vận chuyển protein tiết ra ngoài tế bào:<br>
                - Ribosome là nơi tổng hợp protein.<br>
                - Protein tổng hợp được ở ribosome sẽ được đưa vào trong lưới nội chất để vận chuyển qua túi vận chuyển (túi tiết) và vận chuyển tới bộ máy Golgi.<br>
                - Tại bộ máy Golgi, protein được chế biến, lắp ráp cho hoàn thiện cấu trúc. Sau đó, những protein này sẽ được đóng gói vào trong các túi tiết và được đưa ra ngoài qua màng tế bào.
            </p>
        <hr>
        <h3>CÂU 10</h3>
            <p>- Cá thể này mang phần lớn đặc điểm của cá thể B (b).<br>
                - Giải thích: Nhân chứa DNA có vai trò lưu trữ, bảo quản và truyền đạt thông tin di truyền. Thông tin di truyền trên phân tử DNA được phiên mã thành các phân tử RNA, sau đó, các phân tử RNA đi qua lỗ màng nhân ra tế bào chất để dịch mã thành protein, biểu hiện thành các tính trạng của cơ thể. Bởi vậy, phần lớn đặc điểm của cơ thể là do nhân quy định: Tế bào mang nhân của cá thể B (b) thì sẽ có phần lớn đặc điểm của cơ thể giống cá thể B (b).
            </p>
        <hr>
        <h3>Câu 11: Giải thích mối quan hệ về chức năng của ribosome, lưới nội chất và bộ máy Golgi.</h3>
            <p>Ribosome, lưới nội chất và bộ máy Golgi có mối quan hệ mật thiết với nhau trong quá trình tổng hợp và cung cấp các chất:<br>
                - Ribosome là nơi tổng hợp protein.<br>
                - Protein tổng hợp được ở ribosome sẽ được đưa vào trong lưới nội chất để vận chuyển qua túi vận chuyển (túi tiết) và vận chuyển tới bộ máy Golgi.<br>
                - Tại bộ máy Golgi, protein được chế biến, lắp ráp cho hoàn thiện cấu trúc. Sau đó, những protein này sẽ được đóng gói vào trong các túi tiết và phân phối đến các vị trí khác nhau trong tế bào hoặc xuất ra ngoài qua màng tế bào.
            </p>
        <hr>
        <h3>CÂU 12</h3>
            <p>a. Cách thức vận chuyển các chất ở các hình a, b, c, d:<br>
                - Hình a là khuếch tán qua màng<br>
                - Hình b là khuếch tán qua kênh protein<br>
                - Hình c là thực bào<br>
                - Hình d là vận chuyển chủ động<br>
                Khác nhau là:Thực bào là hình thức vận chuyển các chất có kích thước lớn bằng cách tạo túi màng bao bọc và tiêu tốn năng lượng (ATP) - một quá trình nhập bào, khác biệt cơ bản với khuếch tán (thụ động, không tốn năng lượng, theo chiều gradient nồng độ) và vận chuyển chủ động (tốn năng lượng, ngược chiều gradient nồng độ, qua protein màng), đặc biệt là khuếch tán qua kênh protein chỉ áp dụng cho chất có kích thước nhỏ/ion và không cần năng lượng, còn thực bào tạo ra sự biến dạng màng và bao bọc vật chất vào trong tế bào.<br>
                b. Nên dùng nước muối sinh lý (NaCl 0,9%) để súc miệng vì an toàn, giúp làm sạch, giảm viêm, và không gây hại niêm mạc, trong khi nước muối đặc có thể làm tổn thương niêm mạc miệng do áp suất thẩm thấu, tạo điều kiện cho vi khuẩn phát triển. Nước muối sinh lý hỗ trợ giảm đau họng, làm dịu nhiệt miệng và ngăn ngừa vi khuẩn, còn nước muối đặc có thể làm mất nước, gây khô rát và kích ứng niêm mạc.
            </p>
        <hr>
        <h3>CÂU 13</h3>
            <p>a) Tốc độ vận chuyển theo con đường khuếch tán nhờ kênh protein nhanh hơn khuếch tán trực tiếp: Khi khuếch tán trực tiếp, tốc độ khuếch tán sẽ tỉ lệ thuận với nồng độ chất tan nhưng diễn ra chậm vì vẫn bị sự cản trở của màng. Khi khuếch tán nhờ kênh protein thì protein tạo thành con đường vận chuyển riêng cho các chất đi qua nên tốc độ nhanh hơn rất nhiều.<br>
                b) Tốc độ vận chuyển các chất qua kênh protein tăng đến một giá trị nhất định rồi sau đó giữ ở mức ổn định là do khi đó toàn bộ kênh protein đều đã tham gia vận chuyển các chất (các kênh protein đã đạt đến trạng thái bão hòa)
        <hr>
        <h3>CÂU 14: Tại sao khi muối dưa, cà thì sản phẩm sau khi muối lại có vị mặn và bị nhăn nheo?</h3>
            <p>-Dung dịch nước để ngâm dưa cà là môi trường ưu trương (có nồng độ muối cao hơn trong tế bào). Bởi vậy, muối được vận chuyển vào trong dưa, cà làm cho chúng có vị mặn đồng thời nước trong dưa, cà được vận chuyển ra ngoài làm tế bào mất nước dẫn đến bị nhăn nheo.
            </p>
        <hr>
        <h3>CÂU 15</h3>
            <p>a.Số 1 tương ứng với đường cong a, số 2 tương ứng với đường cong b, và số 3 tương ứng với đường cong c. Kiểu vận chuyển số 3 (vận chuyển chất tan trong lipid) có thể vận chuyển các chất có kích thước nhỏ như O2,C02,H20.<br>
                b.- Các đoạn thân cây cần tây được ngâm trong nước cất khoảng vài giờ thì trở nên cứng và chắc. Điều này chứng tỏ nước đã di chuyển từ môi trường vào trong tế bào → Dịch tế bào của cây cần tây ưu trường đối với nước cất.<br>
                - Những đoạn thân cây tương tự được ngâm trong dung dịch muối trở nên cong và mềm hơn. Điều này chứng tỏ nước đã di chuyển từ tế bào ra môi trường → Dịch tế bào của cây cần tây nhược trương đối với dung dịch muối.
            </p>
        <hr>
        <h3>CÂU 16</h3>
            <p>a.Các loài thực vật sống ở rừng ngập mặn có khả năng hấp thụ nước từ môi trường có nồng độ muối cao vì: Các loài thực vật này đã vận chuyển chủ động các chất tan từ môi trường vào trong không bào của tế bào rễ để tạo nên áp suất thẩm thấu cao. Nhờ đó, chúng hấp thụ được nước từ môi trường.<br>
                Hai nhánh của ống chữ U này được ngăn cách bởi một lớp màng bán thấm, có tính thấm nước nhưng không thấm glucose. Đồng thời, nhánh b của ống có nồng độ chất tan cao hơn ở nhánh a. Như vậy, nước sẽ di chuyển từ nhánh a (nơi có nồng độ chất tan thấp) sang nhánh b (nơi có nồng độ chất tan cao). Do đó, sau khi hệ thống đạt đến trạng thái cân bằng, mức dung dịch ở bên nhánh b cao hơn so với bên nhánh a.
            </p>
        <hr>
        <p style="text-align: right;">Person responsible for content:<br>Thanh Trung</p>
{% endblock sinhhoc %}